.icon-left{
    position: absolute;
    top: 5%;
    left: 3%;
}

.icon-right{
    position: absolute;
    bottom: 5%;
    right: 3%;
    color: blue
}

.season-display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.winter{
    background-color: aliceblue;
}

.summer{
    background-color: orange;
}

.season-display.winter i{
    color: lightblue;
}

.season-display.summer i{
    color: orangered;
}